backend/node_modules
backend/src-old
backend-err
backend-old-stuff
backend/.strapi
backend/.strapi-updater.json
backend/build
backend/.env
backend/config-old

frontend/Secrets.js
frontend/mvp-and-mmp-features.txt
frontend/logic.txt
yarn-error.log


# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz


# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
bugslog.txt
# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/synopsis.txt
frontend/fullcode.txt
frontend/code.min.txt
frontend/code.txt
frontend/code_collection.js
backend/fullcode.txt
backend/code.min.txt
backend/code.txt
backend/code_collection.js





./agent-context.txt

frontend2/code_collection.js 
frontend2/code.min.txt 
frontend2/code.txt 
frontend2/agent-context.txt
frontend2/app/code_collection.js 
frontend2/app/code.min.txt 
frontend2/app/code.txt 
frontend2/app/agent-context.txt
frontend2/app/admin/code_collection.js 
frontend2/app/admin/code.min.txt 
frontend2/app/admin/code.txt 
frontend2/app/admin/agent-context.txt