backend/node_modules
backend/.strapi
backend/.strapi-updater.json
backend/build
backend/.env
backend-err
backend-old-stuff
frontend/mvp-and-mmp-features.txt
frontend/logic.txt
yarn-error.log
frontend/Secrets.js

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz


# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts