/* #strapi nav .cyxgkm{
    display: none !important;
} */
#strapi > div.sc-bdvvtL.bQtzWS > div > nav > div.sc-bdvvtL.sc-kiwPtn.fLcqbp.dWHaaY > ul > li:nth-child(2){
    display: none !important;
}
#main-content > div.sc-bdvvtL.lmkcod > div.sc-bdvvtL.sc-bQtKYq.bOQZK.cHDzsz{
    display: none !important;
}
#strapi > div.sc-bdvvtL.bQtzWS > div > nav > div.sc-bdvvtL.sc-kiwPtn.fLcqbp.dWHaaY > ul > li:nth-child(3) > div > ul{
    display: none !important;
}
#strapi > div.sc-bdvvtL.bQtzWS > div > nav > div.sc-bdvvtL.sc-kiwPtn.fLcqbp.dWHaaY > ul > li:nth-child(3) > div > span{
    display: none !important;
}
#main-content > div.sc-bdvvtL.lmkcod > div.sc-bdvvtL.sc-bQtKYq.bOQZK.lnLMih > div > div > div > div > a{
    display: none !important;
}
#main-content > form > div.sc-bdvvtL.jtRngr > div > div > div:nth-child(3) > div > div.sc-bdvvtL.sc-gsDKAQ.bOQZK.hFpgBC > span{
    display: none !important;
}
/* #strapi > div.sc-bdvvtL.bQtzWS > div > div > div > nav{
    display: block !important;
} */

/* #strapi > div.sc-bdvvtL.ehHzEF.sc-bdvvtL.bQtzWS > div > nav > div.sc-bdvvtL.sc-kiwPtn.fLcqbp.dWHaaY > ul > li:nth-child(2){
    display: none !important;
}
#strapi > div.sc-bdvvtL.ehHzEF.sc-bdvvtL.bQtzWS > div > nav > div.sc-bdvvtL.sc-kiwPtn.fLcqbp.dWHaaY > ul > li:nth-child(3){
    display: none !important;
} */
/*sc-bdvvtL sc-gsDKAQ bOQZK cyxgkm*/